.playbar.play-toolbar

  .button-group.button-group_type_play-toolbar
    .button-group__item
      button.button.button_type_play-toolbar.button_icon_check(
        ng-click="subsetFilters()",
        ng-disabled="!(ui.subsetEnabled)"
        uib-tooltip="Subset"
        tooltip-append-to-body="true"
        tooltip-placement="left"
      ) check

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_chevron-left(
        ng-click="undoFilters()"
        uib-tooltip="Undo"
        tooltip-append-to-body="true"
        tooltip-placement="right"
        ng-disabled="!enableUndo"
      ) back

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_chevron-right(
        ng-click="redoFilters()"
        uib-tooltip="Redo"
        tooltip-append-to-body="true"
        tooltip-placement="right"
        ng-disabled="!enableRedo"
      ) forward

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_cancel(
        ng-click="resetFilters()",
        ng-disabled="!(ui.activeFilterCount > 0)"
        uib-tooltip="Reset"
        tooltip-append-to-body="true"
        tooltip-placement="right"
      ) cancel

  .button-group.button-group_type_play-toolbar(
    ng-if="layout.plotType != 'list' && layout.plotType != 'grid'"
  )
    .button-group__item
      button.button.button_type_play-toolbar.button_icon_target target

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_plus(
        ng-click="zoomInfo.zoomIn()"
        uib-tooltip="Zoom in"
        tooltip-append-to-body="true"
        tooltip-placement="right"
      ) zoom +

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_minus(
        ng-click="zoomInfo.zoomOut()"
        uib-tooltip="Zoom out"
        tooltip-append-to-body="true"
        tooltip-placement="right"
      ) zoom -

  .button-group.button-group_type_play-toolbar
    .button-group__item
      button.button.button_type_play-toolbar.button_icon_search search

    .button-group__item
      button.button.button_type_play-toolbar.button_icon_help help


  //.flex-container.shadow-btn.shadow-btn--icon-btn.shadown-btn--no-hover()
  //  button.vert-align(ng-click="subsetFilters()", ng-disabled="!(ui.subsetEnabled)" uib-tooltip="Subset" tooltip-append-to-body="true" tooltip-placement="left")
  //    i.material-icons.m-r-5 send
  //    span.shadow-btn--icon-btn__text Subset
    //- button.no-margin.p-r-6.vert-align(ng-click="undoFilters()" uib-tooltip="Undo" tooltip-append-to-body="true" tooltip-placement="right" ng-disabled="!enableUndo")
    //-   i.material-icons.m-r-5 undo
    //-   span.shadow-btn--icon-btn__text Undo
    //- button.right-btn.vert-align(ng-click="redoFilters()" uib-tooltip="Redo" tooltip-append-to-body="true" tooltip-placement="right" ng-disabled="!enableRedo")
    //-   i.material-icons.m-r-5 redo
    //-   span.shadow-btn--icon-btn__text Redo
    button.right-btn.vert-align(ng-click="resetFilters()", ng-disabled="!(ui.activeFilterCount > 0)" uib-tooltip="Reset" tooltip-append-to-body="true" tooltip-placement="right")
      i.material-icons.m-r-5 clear
      span.shadow-btn--icon-btn__text Reset
  //.flex-container.shadow-btn.shadow-btn--icon-btn.shadown-btn--no-hover(ng-if="layout.plotType != 'list' && layout.plotType != 'grid'")
  //  button(ng-click="zoomInfo.zoomExtents();" uib-tooltip="Zoom to selection" tooltip-append-to-body="true" tooltip-placement="left")
  //    i.material-icons my_location
  //  button.no-margin.p-r-6(ng-click="zoomInfo.zoomIn()" uib-tooltip="Zoom in" tooltip-append-to-body="true" tooltip-placement="right")
  //    i.material-icons add
  //  button.right-btn(ng-click="zoomInfo.zoomOut()" uib-tooltip="Zoom out" tooltip-append-to-body="true" tooltip-placement="right")
  //    i.material-icons remove
