.flex-transclude.width-100(ng-mouseleave="rightPanelExited();", ng-controller="FilterPanelParentCtrl")
	.flex-vert-container.flex-transclude.panel-container.width-100
		.filter-header
			ul.filter-header__list
				li.filter-header__item.tag.filter-header__item_current(ng-click="navigateTo('.tags-first-item')")
					span.filter-header__link Tags
				li.filter-header__item.chart(ng-click="navigateTo('.chart-first-item')")
					span.filter-header__link Charts

		.panel-scroll.flex-fill.flex-vert-container(ng-controller="FilterPanelCtrl")
			//- span {{filteredDistrAttrs.length}} of {{nodeDistrAttrs.length}}
			ul.filter-list(dir-attr-modifiers="", data-dir-virtual-scroll="", variable-height="", container-item-count="nodeDistrAttrs.length" dir-kill-tooltip-on-scroll, ng-if="ui.renderDistr", on-scroll="onScroll")
				li.filter-list__item(
					ng-repeat="attr in ui.filteredAttrs = (nodeDistrAttrs | filter: {title : ui.statsSearchKey}) track by attr.id",
					ng-if="attr.visible", ng-class="{'attr-hidden':!attr.visible, 'first': ($index == 1), 'chart-first-item': attr.isFirstChart, 'tags-first-item': attr.isFirstTag}",
					ng-click='selectNodesByAttrib(attr.title, attr.value, $event)',
					ng-style="{'display': 'block', 'margin-bottom':'15px', 'height': 'auto'}"
				)
					section.card.card_type_filter(data-attr="{{attr.id}}")
						header.card__header(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' && attr.attrType != 'year' ", uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='right' tooltip-append-to-body="true")
							h2.card__title {{::attr.title}}

							button.card__action-sort(
								ng-if="attr.renderType == 'tags' || attr.renderType == 'categorylist' || attr.renderType == 'tag-cloud' ", 
								ng-class="{ 'up': attr.sortConfig && attr.sortConfig.sortOrder === 'asc' }", 
								ng-click="setSortOrder(attr)"
								uib-tooltip="Sorted by frequency of occurrence",
								tooltip-placement="right", 
								tooltip-append-to-body="true"
								)

							.card__action-search
								button(ng-click="searchToggle(attr)") search

							.card__search-box
								input(type='text', ng-model="attr.searchQuery", ng-change="search(attr, $event)")/
								button.close(ng-click="clearSearch(attr); searchToggle(attr);") close

						.card__body
							.card__content
								dir-attr-renderer(attr-to-render="attr", noe-color-str="nodeColorStr", is-node="true", show-filter="ui.enableFilters", disable-filter="attr.disableFilter" theme="appUi.theme" pinned-media="pinnedMedia")

					h6.no-margin.text-center.title(
						ng-if="attr.attrType == 'integer' || attr.attrType == 'float' || attr.attrType == 'boolean' || attr.attrType == 'year' "
						uib-tooltip="{{attr.metadata.descr || attr.title}}"
						tooltip-placement='right'
						tooltip-append-to-body="true"
					)
						span {{::attr.title}}
						span(ng-show="attr.principalVal") :&nbsp;{{attr.principalVal}}
